*.pdf
*.xlsx
*.log
*.docx
*.htm
*.db
*.bak
!template*.docx
?.py
??.py
t?.py
/obsolete/**
/__pycache__/**
/data/__pycache__/**
/.pytest_cache/**
/temp/**
/temp2/**
/DEMO/**
*.pyc
aapa stroomschema.drawio
batchtimer.py
aapa.build/**
aapa.dist/**
aapa.onefile-build/**
aapa.exe
temp_work.py
