*.pdf
*.xlsx
*.log
*.docx
*.htm
!template*.docx
?.py
??.py
t?.py
/obsolete/**
/__pycache__/**
/data/__pycache__/**
/.pytest_cache/**
*.pyc
__pycache__/aanvraag_data.cpython-310.pyc
__pycache__/aanvraag_reader.cpython-310.pyc
data/__pycache__/aanvraag_info.cpython-310.pyc
data/__pycache__/aanvraag_info.cpython-310.pyc
data/__pycache__/aanvraag_info.cpython-310.pyc
data/__pycache__/AAPcrud.cpython-310.pyc
