*.pdf
*.xlsx
*.log
*.log.*
*.docx
*.htm
*.html
*.db
*.sqbpro
*.bak
*.ini
*.db-journal    
!aapa-config.ini
!ini/*.ini
!template*.docx
!template*.htm
?.py
??.py
t?.py
/obsolete/**
/__pycache__/**
/data/__pycache__/**
/.pytest_cache/**
/temp/**
/temp2/**
/DEMO/**
/backup
/logs
*.pyc
aapa stroomschema.drawio
batchtimer.py
aapa.build/**
aapa.dist/**
aapa.onefile-build/**
aapa.exe
temp_work.py
process/general/pdf_aanvraag_reader.py
